# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
## Objectives:
. Arithmetic
. Data science
. Jupyter Markdown cell
. Creating Tables 
. Headings

In [ ]:
Some of the popular languages that Data Scientists use are:
    1. Python
    2. SQL
    3. R
    4. Julian
    5. Java

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
    1. TensorFlow 
    2. NumPy 
    3. SciPy 
    4. Pandas 
    5. PyTorch.

In [ ]:
|  Data Science Tools  |
|---|
|  RStudio  |
|  Apache Spark  |
|  TensorFlow  |

In [1]:
### Below are a few examples of evaluating arithmetic expressions in Python.
(3*4)+5  # This a simple arithmetic expression to mutiply then add integers.

17

In [2]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

In [ ]:
## Author
Jonathan